# .coveragerc to control coverage.py
[run]
omit =
    # omit virtualenv
    ./venv/*
    # omit __init__.py
    */__init__.py
    # omit everything in the tests
    **/tests/*
    app/core/errors.py
    app/core/key_vault.py
    app/core/azure_llm_models.py
    **/config.py
    app/core/llama_handlers.py
    app/core/logging_config.py

[report]
show_missing = True
